<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h5 class="text-center">Reactive Form</h5>
        </div>
        <div class="card-body bg-dark text-white">
          <form [formGroup]="signUpForm" (ngSubmit)="OnSignUp()">
            <div class="form-group">
              <label for="username">Username*</label>
              <input type="text" class="form-control" formControlName="username" id="username">
              <span class="text-danger" 
              *ngIf="signUpForm.controls['username'].touched &&
               signUpForm.controls['username'].invalid &&
               signUpForm.controls['username'].hasError('required')
               ">
                Username is requred filed
              </span>
              <span class="text-danger" 
              *ngIf="signUpForm.controls['username'].dirty &&
               signUpForm.controls['username'].invalid &&
               signUpForm.controls['username'].hasError('minlength')
               ">
              Minimun length of Usename should be 
              {{signUpForm.controls['username'].errors?.['minlength'].requiredLength}}
              And Actual length is
              {{signUpForm.controls['username'].errors?.['minlength'].actualLength}}
              </span>
              <span class="text-danger" 
              *ngIf="signUpForm.controls['username'].dirty &&
               signUpForm.controls['username'].invalid &&
               signUpForm.controls['username'].hasError('pattern')
               ">
                 Invalid Username pattern
              </span>
              <span class="text-danger" 
              *ngIf="signUpForm.controls['username'].dirty &&
               signUpForm.controls['username'].invalid &&
               signUpForm.controls['username'].hasError('noSpacebar')
               ">
               space is not allowed
              </span>
            </div>

            <div class="form-group">
              <label for="email">Email*</label>
              <input type="text" class="form-control" formControlName="email" id="email">
              <span class="text-danger" 
              *ngIf="signUpForm.controls['email'].touched &&
               signUpForm.controls['email'].invalid &&
               signUpForm.controls['email'].hasError('required')
               ">
                Email is requred filed
              </span>
              <span class="text-danger" 
              *ngIf="signUpForm.controls['email'].dirty &&
               signUpForm.controls['email'].invalid &&
               signUpForm.controls['email'].hasError('pattern')
               ">
                 Invalid Email pattern
              </span>
              <span class="text-danger" 
              *ngIf="signUpForm.controls['email'].dirty &&
               signUpForm.controls['email'].invalid &&
               signUpForm.controls['email'].hasError('noSpacebar')
               ">
               space is not allowed
              </span>
            </div>

            <div class="form-group">
              <label for="empId">Emp Id</label>
              <input type="text" placeholder="E456" formControlName="empId" class="form-control">
              <span class="text-danger" 
              *ngIf="signUpForm.controls['empId'].dirty &&
               signUpForm.controls['empId'].hasError('IsValidEmpId')
               ">
               'Emp id shoud start with 1 alphabet and end with 3 number'
              </span>
              <span class="text-danger" 
              *ngIf="signUpForm.controls['empId'].touched &&
               signUpForm.controls['empId'].invalid &&
               signUpForm.controls['empId'].hasError('required')
               ">
               It is required filed
              </span>
            </div>
            
            <ng-container *ngFor="let gender of genderArr">
              <label [for]="gender">
                <input type="radio" [value]="gender" formControlName="gender" [id]="gender">
                {{gender}}
              </label>
            </ng-container>
            
            <div class="row">
              <div class="col-md-6" formGroupName="currentAddress">
                  <h5>Current Address</h5>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <select formControlName="country" name="country" class="form-control">
                      <option value="">Select Country</option>
                      <option [value]="country.Country"  *ngFor="let country of countryArr">
                        {{country.Country}}
                      </option>
                    </select>
                  </div>      
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" formControlName="state" id="state">
                  </div>  
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" formControlName="city" id="city">
                  </div>          
                  <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" class="form-control" formControlName="zipcode" id="zipcode">
                  </div>  
              </div>

             <div class="col-md-6" formGroupName="permantAddress">
                <h5>Current Address</h5>
                <div class="form-group">
                  <label for="country">Country</label>
                  <select formControlName="country" name="country" class="form-control">
                    <option value="">Select Country</option>
                    <option [value]="country.Country"  *ngFor="let country of countryArr">
                      {{country.Country}}
                    </option>
                  </select>
                </div>      
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" formControlName="state" id="state">
                </div>  
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" formControlName="city" id="city">
                </div>          
                <div class="form-group">
                  <label for="zipcode">Zipcode</label>
                  <input type="text" class="form-control" formControlName="zipcode" id="zipcode">
                </div>  
              </div>
              <div class="col-12">
                <label for="isAddSame">
                  <input type="checkbox" formControlName="isAddSame">
                  Permanent address and current adress are same
                </label>
              </div>
            </div>

            <div formArrayName="skills">
              <h5>Add Skills</h5>
              <div class="row"
                *ngFor="let skill of SkillFormArr.controls; let i= index">
                  <div class="col-md-10">
                    <input type="text" [formControlName]="i" class="form-control mb-2" >
                  </div>
                  <div class="col-md-2" *ngIf="i > 0">
                    <button 
                    type="button"
                    (click)="onSkillRemove(i)"
                    class="btn btn-danger btn-sm">Remove </button>
                  </div>
                </div>
              </div>

           <div class="row">
                  <div class="col">
                      <button 
                      *ngIf="SkillFormArr.length < 5, else noSkillMore"
                      [disabled]="SkillFormArr.invalid"
                      (click)="onSkillAdd()"
                      type="button"
                        class="btn btn-info btn-sm mb-2">ADD skill</button>
                               
                      <ng-template #noSkillMore>
                          <span>
                              You can add max 5 skill only
                          </span>
                      </ng-template>
                  </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" formControlName="password" id="password">
              <span class="text-danger" 
              *ngIf="signUpForm.controls['password'].touched &&
               signUpForm.controls['password'].invalid &&
               signUpForm.controls['password'].hasError('required')
               ">
                It is  required filed
              </span>
              <span class="text-danger" 
              *ngIf="signUpForm.controls['password'].dirty &&
               signUpForm.controls['password'].invalid &&
               signUpForm.controls['password'].hasError('pattern')
               ">
                Password miminum length should 8 and includes atleast 1 capital alphabet , 1 spec.char & number
              </span>
            </div>

            <div class="form-group">
              <label for="confirmpassword">Confirm Password</label>
              <input type="text" class="form-control" formControlName="confirmpassword">
              <span class="text-danger" *ngIf="signUpForm.controls['password'].value!==signUpForm.controls['confirmpassword'].value">
                password and Confirm password must be same
              </span>
            </div>

            <button 
            [disabled]="signUpForm.invalid"
            class="btn btn-info btn-sm btn-block">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>